@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin between {
  display: flex;
  justify-content: space-between;
}
@mixin full-960 {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
@mixin colors-submenu {
  background: $submenu-bg;
  color: $menu-bg;
}
@mixin colors-light {
  background: #f5f5f5;
  color: #666;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato";
}

a {
  color: #3897f0;
  text-decoration: none;
}
p,
a,
li,
h6 {
  font-family: "Lato";
}
h6 {
  font-size: 12px;
  font-weight: normal;
}
a:hover {
  text-decoration: underline;
}
main {
  background: #f5f5f5;
}
#menu-main {
  display: flex;
  justify-content: space-between;
  list-style: none;
  z-index: 3;

  ul {
    padding: 0;
  }
  li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    background: $menu-bg;
    cursor: pointer;
    white-space: nowrap;
    a {
      padding: 0 10px;
      color: white;
      text-decoration: none;
    }
  }
  & > li {
    position: relative;
    border-radius: 5px;
  }
  .sub-menu {
    position: relative;
    transition: all 0.2s ease;
    max-height: 0;
    overflow: hidden;
    z-index: 3;
    li {
      background: $submenu-bg;
      a {
        color: $menu-text;
      }
    }
    &.has-sub {
      li {
        background: #777777;
        a {
          color: white;
        }
      }
    }
    .sub-menu {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(100%);
      li {
        background: $submenu-bg;
        a {
          color: $menu-text;
        }
      }
    }
  }
  .open {
    & > .sub-menu {
      overflow: visible;
      max-height: 300px;
    }
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  article {
    flex: calc(33% - 30px);
    max-width: calc(33% - 30px);
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 410px;
    background: white;
  }
  h1 {
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    font-family: "heading";
    font-size: 24px;
    padding: 0 10px;
  }
  .date {
    @include between;
    align-items: flex-end;
    padding: 0 25px;
    height: 50px;
    h6 {
      margin: 0;
    }
  }
  .copy {
    padding: 0 25px;
  }
}
.slider-container {
  @include full-960;
  position: relative;
  #prev {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  #next {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
.post-slider {
  h2 {
    height: 120px;
    @include center;
    @include colors-light;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.2s ease;
  }
  .slick-slide {
    margin: 0 12px;
  }
  .slick-current + .slick-active {
    h2 {
      background: #fdb71a;
      color: white;
      height: 160px;
      margin-top: 0;
    }
  }
}
